* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
}

body {
	background-color: #000;
}

.container {
	width: 75%;
	height: 100vh;
	border-radius: 10px;
	background-color: #fff;
	position: fixed;
	right: 12.5%;
	z-index: -1;
}

.wrap {
	width: 49%;
	margin: 0px auto;
	padding-top: 50px;
}
