.header {
	margin-bottom: 40px;

	h1 {
		margin-bottom: 20px;
		font-family: 'Playfair Display';
		font-size: 50px;
		font-weight: bold;
	}

	.description {
		display: flex;
		margin-bottom: 40px;

		i {
			float: left;
			margin-right: 10px;
			color: #c4c4c4;
		}

		p {
			width: 70%;
			font-weight: bold;
			font-style: italic;
			color: #4f4f4f;
		}
	}

	img {
		width: 100%;
	}
}
