#main {
	width: 70%;
}

.ingredients {
	h2 {
		margin-bottom: 30px;
		font-family: 'Playfair Display';
		font-size: 24px;
	}

	article {
		margin-bottom: 30px;

		h3 {
			margin-bottom: 30px;
			font-family: 'Playfair Display';
			font-weight: normal;
			font-style: italic;
			font-size: 18px;
		}

		div {
			display: flex;
			margin-bottom: 15px;

			input {
				margin-right: 10px;
			}
		}
	}
}
