.instructions {
	article {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		span {
			display: block;
			width: 20%;
			max-width: 35px;
			height: 35px;
			margin-right: 10px;
			border-radius: 5px;
			text-align: center;
			line-height: 30px;
			font-family: 'Playfair Display';
			font-size: 25px;
			font-weight: bold;
			background: #f2994a;
			color: #fff;
		}

		p {
			width: 90%;
		}
	}
}
